@import "../../_variables.scss";

@include fade-in;

mat-card {
  box-shadow: -4px 4px 0 0px rgb(0 0 0 / 5%) !important;
  border: 0;
}

.detail-container {
  animation: fadein 0.5s;
  .header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .content {
    @include flex-column;

    .top-row {
      display: flex;
      background: #fffef9;
      @media (max-width: $min-desktop) {
        flex-direction: column;
        align-items: center;
      }
      .icon {
        width: 10rem;
        height: 10rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .top-details {
        padding: 1rem;
      }
    }

    .futureCards-container {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      justify-content: space-between;
      @media (max-width: $min-desktop) {
        justify-content: center;
      }

      .futureCards {
        @include flex-row-center;
        width: 5rem;
        height: 8rem;
        margin: 0 1rem 1rem 0;
        padding: 0.5rem;

        &:first-child {
          display: none;
        }
        .card-content {
          @include flex-row-center;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

.empty-content {
  animation: fadein 1s;
  width: 100%;
  height: 100%;
  align-items: center;

  @include flex-row-center;

  background-image: url("/assets/clouds.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
