<ng-container *ngIf="!(isLoading$ | async) && (cityData$ | async) as cityData; else noCityAdded">
  <div class="detail-container">
    <div class="header">
      <h2>{{ cityData?.city.name }}</h2>
      <button mat-icon-button (click)="refreshCity(cityData.city.name, cityData.city.id)">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="content">
      <mat-card class="top-row">
        <ng-template [ngTemplateOutlet]="todaysCard" [ngTemplateOutletContext]="{
            weather: cityData.list[0].weather[0],
            dataList: cityData.list[0]
          }">
        </ng-template>
      </mat-card>

      <div class="futureCards-container">
        <mat-card *ngFor="let day of cityData?.list" class="futureCards">
          <ng-template [ngTemplateOutlet]="dailyCards" [ngTemplateOutletContext]="{
              date: day?.dt,
              temp: day?.temp,
              weather: day?.weather[0]
            }">
          </ng-template>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #todaysCard let-dataList="dataList" let-weatherDesc="weather">
  <div class="icon">
    <img [src]="iconCode[dataList.weather[0]?.id]" />
  </div>
  <div class="top-details">
    <h3>
      {{ dataList.temp?.day | number: "1.0-0" }}<sup>{{ units.tempUnit }}</sup>
    </h3>
    <p>{{ weatherDesc.description | titlecase }}</p>
    <p>
      <b>Wind:</b>
      {{ dataList.speed + units.speedUnit + " " + dataList.deg + units.directionUnit}}
    </p>
    <p><b>Pressure:</b> {{ dataList.pressure }}</p>
  </div>
</ng-template>

<ng-template #dailyCards let-date="date" let-temp="temp" let-weather="weather">
  <div class="card-content">
    <div>{{ date * 1000 | date: "dd" }}</div>
    <div>{{ date * 1000 | date: "EEEE" }}</div>
    <div>
      <img [src]="iconCode[weather.id]" />
    </div>
    <div>{{ temp.day | number: "1.0-0" }} C</div>
  </div>
</ng-template>

<ng-template #noCityAdded let-date="date" let-temp="temp" let weather="weather">
  <div class="empty-content">
    <h2>{{(isLoading$ | async) ? 'Loading...': 'Please Add or Select a City' }}</h2>
  </div>
</ng-template>
