@import "../variables";
.parent-container {
  display: flex;
  height: 100%;
  padding: 1rem;
  @media (max-width: $max-mobile) {
    display: grid;
    flex-direction: column;
    width: auto;
  }

  .parent-sidebar {
    width: 40%;
    margin: 1rem;
    @media (max-width: $max-mobile) {
      width: auto;
      margin: 0;
      max-height: 50vh;
    }
  }
  .parent-detail {
    width: 60%;
    margin: 1rem;
    @media (max-width: $max-mobile) {
      width: auto;
      margin: 1rem 0 0 0;
    }
  }
}
