@import "../../variables";
@include fade-in;

.sidebar-container {
  @include flex-column;
  padding: 1rem;
  height: 90%;
  overflow: auto;

  .bottom-row {
    .cityItems {
      background-color: #e9f7e9;
      box-shadow: -4px 4px 0 0px rgb(0 0 0 / 10%);
      height: auto;
      .cityoption-container {
        display: flex;
        align-items: center;
        .list-icon{
          height: 3rem;
        }
        .list-text {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem 0;
          min-width: 8rem;

          @media  (max-width: $min-desktop) {
            flex-direction: column;
            align-items: flex-start;
            padding: .5rem;
          }
          > P {
            margin: 0;
            @media (max-width: $max-mobile) {
              margin: 0.5rem 0 0 0;
            }
            &::before{
              content: "\00a0";
              @media (max-width: $max-mobile) {
                content: '';
              }
            }
          }

          .seperator {
            @media (max-width: $min-desktop) {
              display: none;
            }
          }

          &.desktop{
            @media (max-width: $min-desktop) {
              display: none;
            }
          }


        }
        .btn-list {
          margin-left: auto;
        }
      }
    }
  }
}
.clear-all {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  button {
    margin-top: 1rem;
    width: 100%;
  }
}
