<div class="sidebar-container">
  <div class="top-row">
    <form [formGroup]="form">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Enter City</mat-label>
        <input matInput type="text" formControlName="cityName" [value]="form?.get('cityName')?.value | titlecase">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="addCity()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <mat-selection-list #cityOptions [multiple]="false" role="list" class="bottom-row"
    *ngFor="let cityData of allCityData$ | async; let i=index">
    <mat-list-option role="listitem" class="cityItems" (click)="showCityWeather(cityData.city.id)">
      <ng-template [ngTemplateOutlet]="cityList" [ngTemplateOutletContext]="{data : cityData}">
      </ng-template>
    </mat-list-option>
  </mat-selection-list>
</div>

<ng-template #cityList let-cityData="data">
  <div class="cityoption-container">
    <div class="list-text">
      <h4 class="city-name-heading">{{cityData.city.name}}&nbsp;</h4>
      <p class="seperator">&nbsp;-&nbsp;</p>
      <p>&nbsp;{{cityData.list[0].temp.day | number : '1.0-0'}}C</p>
      <p>&nbsp;{{cityData.list[0]?.weather[0]?.main}}</p>
    </div>
    <div class="btn-list">
      <button mat-icon-button (click)="refreshCity($event, cityData.city.name, cityData.city.id)">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteCity(cityData.city.id)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
